.info-block-text-primary {
  color: #bd0934 !important;
  padding-bottom: 0.5rem;
}

.info-block-text-secondary {
  margin: 0px 0px 10px 0px;
  line-height: 1.6;
}

.info-block-learn-more {
  margin: 0px 0px 10px 0px;
  line-height: 1.6;
}
